# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
serviceAccountKey.json

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
